<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
    <title>Patient Not Found</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <h3>Patient Not Found</h3>
    <p>Please insert this identity as a new patient before making the reservation.</p>
    <a th:href="@{/patients/create}" class="btn btn-primary">Insert New Patient</a>
</body>
</html>
