<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Feedback</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4>ERROR</h4>
            </div>
            <div class="card-body">
                <p>YOU HAVE ENCOUNTERED AN ERROR</p>
                <p><strong>ERROR: </strong> <span th:text="${errorMessage}"></span></p>
                
                <a href="/" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
